
.card-image-container {
  width: 100%;
  display: flex;
  justify-content: center;

  .card-image {
    width: 250px;
    height: 350px;

    &.large {
      width: 350px;
      height: 450px;
    }
  }
}
