<ion-header>
  <app-topbar (enter)="search($event)"></app-topbar>
</ion-header>

<ion-content>
  <div class="page-container">
    <ion-grid>
      <ion-row>
        <ion-col [sizeXs]="12" [sizeMd]="6" [sizeLg]="4" [offsetLg]="2">
          <app-card-display class="card"
            [card]="cardData"
            [size]="'large'"
            [display]="'images'"></app-card-display>
        </ion-col>

        <ion-col [sizeXs]="12" [sizeMd]="6" [sizeLg]="4">
          <ion-card class="card-info" [ngClass]="['color-' + cardData.color]">
            <ion-card-header>
              <ion-card-title>{{ cardData.name }}</ion-card-title>
              <ion-card-subtitle>
                {{ cardData.code }} &middot; {{ cardData.rarity }} &middot; {{ cardData.expansion }}
              </ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <ion-list>
                <ion-item *ngIf="cardData.type === 'Character'">
                  <ion-label text-wrap>
                    <h2>Character &middot; <em>{{ cardData.attributes.join(', ') }}</em></h2>
                    <h3 class="vertical-center">
                      {{ cardData.level }}/{{ cardData.cost }}
                      &middot;
                      {{ cardData.power }} Power
                      &middot;
                      <app-cardicon *ngFor="let soul of soulArray" [type]="soul" [size]="16"></app-cardicon>
                    </h3>
                  </ion-label>
                </ion-item>

                <ion-item *ngIf="cardData.type === 'Event'">
                  <ion-label text-wrap>
                    <h2>Event</h2>
                    <h3>{{ cardData.level }}/{{ cardData.cost }}</h3>
                  </ion-label>
                </ion-item>

                <ion-item *ngIf="cardData.type === 'Climax'">
                  <ion-label text-wrap>
                    <h2>Climax</h2>
                    <h3 class="vertical-center">
                      <app-cardicon *ngFor="let icon of cardData.trigger" [type]="icon" [size]="16"></app-cardicon>
                    </h3>
                  </ion-label>
                </ion-item>

                <ion-item *ngIf="cardData.ability.length > 0">
                  <ion-label text-wrap>
                    <h2>Abilities</h2>
                    <div class="ability" *ngFor="let ability of cardData.ability">
                      {{ ability }}
                    </div>
                  </ion-label>
                </ion-item>

                <ion-item *ngIf="cardData.flavorText">
                  <ion-label text-wrap>
                    <div class="flavortext">
                      <em>{{ cardData.flavorText }}</em>
                    </div>
                  </ion-label>
                </ion-item>

                <ion-item>
                  <ion-label text-wrap>
                    <ion-chip *ngFor="let tag of cardData.tags" color="primary" (click)="searchTag(tag)">{{ tag }}</ion-chip>
                  </ion-label>
                </ion-item>
              </ion-list>

              <div class="color-bar"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row class="like-this ion-hide-lg-down">
        <ion-col [sizeLg]="12" class="ion-text-center">
          <div class="title">Cards Like This</div>
        </ion-col>

        <ion-col [sizeLg]="1"></ion-col>

        <ion-col *ngFor="let cardInfo of similarCards">
          <a [routerLink]="['/card', cardInfo.card.code]">
            <app-card-display class="card"
              [card]="cardInfo.card"
              [size]="'normal'"
              [display]="'images'"></app-card-display>
          </a>
        </ion-col>

        <ion-col [sizeLg]="1"></ion-col>
      </ion-row>

      <ion-row class="tools">
        <ion-col [sizeXs]="12" [sizeMd]="4" class="ion-text-center">
          <div class="title">About This Card</div>

          <ion-button fill="outline"
                      color="secondary"
                      expand="block"
                      target="_blank"
                      [href]="'https://www.heartofthecards.com/code/cardlist.html?card=WS_' + hotcCode">
            Heart of the Cards
          </ion-button>

          <ion-button fill="outline"
                      color="secondary"
                      expand="block"
                      target="_blank"
                      [href]="'https://en.ws-tcg.com/cardlist/list/?cardno=' + hotcCode">
            Weiß Cards
          </ion-button>

          <ion-button fill="outline"
                      color="secondary"
                      expand="block"
                      target="_blank"
                      [href]="'https://encoredecks.com/?cards=' + encoreDecksId"
                      *ngIf="encoreDecksId">
            Encore Decks with this card
          </ion-button>
        </ion-col>

        <ion-col [sizeXs]="12" [sizeMd]="4" class="ion-text-center">
          <div class="title">Buy This Card</div>

          <ion-button fill="outline"
                      color="secondary"
                      expand="block"
                      target="_blank"
                      [href]="'https://www.tcgplayer.com/search/weiss-schwarz/product?Language=English&productLineName=weiss-schwarz&q=' + encodedCardName + '&view=grid'">
            TCGPlayer <span class="price" *ngIf="tcgplayerPrice">({{ tcgplayerPrice | currency }})</span>
          </ion-button>
        </ion-col>

        <ion-col [sizeXs]="12" [sizeMd]="4" class="ion-text-center">
          <div class="title">Card Data</div>

          <ion-button fill="outline"
                      color="secondary"
                      expand="block"
                      target="_blank"
                      [href]="cardData.image"
                      download>
            Download Image
          </ion-button>

          <ion-button fill="outline"
                      color="secondary"
                      expand="block"
                      ngxClipboard
                      [cbContent]="json">
            Copy JSON
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <app-below-the-fold></app-below-the-fold>
</ion-content>
