
<div class="below-the-fold">
  <div class="map">
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <div class="map-title">Cards</div>
          <hr>
          <div class="map-item">
            <a routerLink="/advanced">Advanced Search</a>
          </div>
          <div class="map-item">
            <a routerLink="/syntax">Syntax</a>
          </div>
          <div class="map-item">
            <a routerLink="/sets">All Sets</a>
          </div>
          <div class="map-item">
            <a routerLink="/randomcard">Random Card</a>
          </div>
        </ion-col>

        <ion-col size="3">

        </ion-col>

        <ion-col size="3">

        </ion-col>

        <ion-col size="3">
          <div class="map-title">More</div>
          <hr>
          <div class="map-item">
            <a target="_blank" href="https://github.com/LimeLightCards/limelight">GitHub</a>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="legal">
    The literal and graphical information presented on this site about Weiß Schwarz, including card images and symbols is copyright Bushiroad, LLC. Limelight is not produced by or endorsed by Bushiroad.
    <br><br>
    Card text is provided by translators and other community members, and not vetted by Limelight.
    <br><br>
    Card prices and promotional offers represent daily estimates and/or market values provided by our affiliates. Absolutely no guarantee is made for any price information. See stores for final prices and details.
    <br><br>
    All other content © Limelight.
  </div>
</div>
