
.container {
  margin-top: 1em;
  min-height: 80vh;
}

.about-user {
  padding-left: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid var(--ion-color-secondary);

  display: flex;
  flex-direction: row;
  align-items: center;

  .pfp {
    margin-right: 2em;
  }
}
