
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row>
        <ion-col size-xs="10" size-sm="10" size-md="4" size-lg="6">
          <a class="home-icon" routerLink="/">
            <ion-img src="assets/favicon/android-chrome-192x192.png"></ion-img>
          </a>

          <ion-title *ngIf="title">
            {{ title }}
          </ion-title>

          <ion-searchbar #search
                         *ngIf="showSearch"
                         class="themed"
                         [debounce]="1000"
                         (ionChange)="type.emit(search.value)"
                         (keyup.enter)="enter.emit(search.value)"
                         [(ngModel)]="query"
                         placeholder="Search all of Weiß Schwarz..."></ion-searchbar>
        </ion-col>

        <ion-col size-xs="2" size-sm="2" size-md="8" size-lg="6">
          <div class="ion-hide-md-up popover">
            <ion-button fill="clear" color="light" (click)="popover.present($event)">
              <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
            </ion-button>

            <ion-popover reference="event" [dismissOnSelect]="true" #popover>
              <ng-template>
                <ion-content class="ion-padding">
                  <ion-list>
                    <ng-container *ngIf="authService.user | async as user; else showLogin">
                      <ion-item [routerLink]="['/profile']" detail="false">
                        <ion-icon slot="start" name="person-circle-outline"></ion-icon>
                        Profile
                      </ion-item>

                      <ion-item [routerLink]="['/collection']" detail="false">
                        <ion-icon slot="start" name="library-outline"></ion-icon>
                        My Collection
                      </ion-item>

                      <ion-item [routerLink]="['/deck/create']" detail="false">
                        <ion-icon slot="start" name="id-card-outline"></ion-icon>
                        Create A Deck
                      </ion-item>
                    </ng-container>

                    <ng-template #showLogin>
                      <ion-item [routerLink]="['/login']" detail="false">
                        <ion-icon slot="start" name="log-in-outline"></ion-icon>
                        Log In
                      </ion-item>
                    </ng-template>

                    <div #buttonsMobile>
                      <ng-content select="[slot='buttons-mobile']"></ng-content>
                    </div>

                    <ng-container *ngIf="!buttonsMobile.hasChildNodes()">
                      <ion-item [routerLink]="['/advanced']" detail="false">
                        <ion-icon slot="start" name="funnel-outline"></ion-icon>
                        Advanced
                      </ion-item>

                      <ion-item [routerLink]="['/syntax']" detail="false">
                        <ion-icon slot="start" name="help-circle-outline"></ion-icon>
                        Syntax
                      </ion-item>

                      <ion-item [routerLink]="['/sets']" detail="false">
                        <ion-icon slot="start" name="file-tray-full-outline"></ion-icon>
                        Sets
                      </ion-item>

                      <ion-item [routerLink]="['/randomcard']" detail="false">
                        <ion-icon slot="start" name="shuffle-outline"></ion-icon>
                        Random
                      </ion-item>
                    </ng-container>

                    <ng-container *ngIf="authService.user | async">
                      <ion-item (click)="authService.signOut()" detail="false" class="cursor">
                        <ion-icon slot="start" name="log-out-outline"></ion-icon>
                        Log Out
                      </ion-item>
                    </ng-container>
                  </ion-list>
                </ion-content>
              </ng-template>
            </ion-popover>
          </div>

          <div class="ion-hide-md-down buttons">
            <div #buttonsDesktop>
              <ng-content select="[slot='buttons-desktop']"></ng-content>
            </div>

            <ng-container *ngIf="!buttonsDesktop.hasChildNodes()">
              <ion-button fill="clear" color="light" [routerLink]="['/advanced']">
                <ion-icon slot="start" name="funnel-outline"></ion-icon>
                Advanced
              </ion-button>

              <ion-button fill="clear" color="light" [routerLink]="['/syntax']">
                <ion-icon slot="start" name="help-circle-outline"></ion-icon>
                Syntax
              </ion-button>

              <ion-button fill="clear" color="light" [routerLink]="['/sets']">
                <ion-icon slot="start" name="file-tray-full-outline"></ion-icon>
                Sets
              </ion-button>

              <ion-button fill="clear" color="light" [routerLink]="['/randomcard']">
                <ion-icon slot="start" name="shuffle-outline"></ion-icon>
                Random
              </ion-button>
            </ng-container>

            <ng-container *ngIf="authService.user | async as user; else showLogin">
              <ion-button fill="clear" color="light" (click)="userPopover.present($event)">
                <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
              </ion-button>

              <ion-popover reference="event" [dismissOnSelect]="true" #userPopover>
                <ng-template>
                  <ion-content class="ion-padding">
                    <ion-list>
                      <ion-item [routerLink]="['/profile']" detail="false">
                        <ion-icon slot="start" name="person-circle-outline"></ion-icon>
                        Profile
                      </ion-item>

                      <ion-item [routerLink]="['/collection']" detail="false">
                        <ion-icon slot="start" name="library-outline"></ion-icon>
                        My Collection
                      </ion-item>

                      <ion-item [routerLink]="['/deck/create']" detail="false">
                        <ion-icon slot="start" name="id-card-outline"></ion-icon>
                        Create A Deck
                      </ion-item>

                      <ion-item (click)="authService.signOut()" detail="false" class="cursor">
                        <ion-icon slot="start" name="log-out-outline"></ion-icon>
                        Log Out
                      </ion-item>
                    </ion-list>
                  </ion-content>
                </ng-template>
              </ion-popover>
            </ng-container>

            <ng-template #showLogin>
              <ion-button fill="clear" color="light" [routerLink]="['/login']">
                <ion-icon slot="icon-only" name="log-in-outline"></ion-icon>
              </ion-button>
            </ng-template>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
