/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

body {
  --border-width: 2px;
  --border-radius: 4px;

  --ion-font-family: Montserrat, Roboto, Helvetica Neue, sans-serif;

	--ion-color-primary: #8360c3;
	--ion-color-primary-rgb: 131,96,195;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #7354ac;
	--ion-color-primary-tint: #8f70c9;

	--ion-color-secondary: #608b7d;
	--ion-color-secondary-rgb: 96,139,125;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #547a6e;
	--ion-color-secondary-tint: #70978a;
}

.page-container {
  padding-left: 1em;
  padding-right: 1em;
  min-height: 70vh;
}

.vertical-center {
  display: flex;
  align-items: center;
}

ion-searchbar, ion-input, ion-select {
  --background: #3f2f5c !important;
  --color: #fff !important;
}

ion-select {
  --padding-end: 5px;
}

ion-input, ion-select {
  border: var(--border-width) solid var(--ion-color-secondary);
  border-radius: var(--border-radius);
}
