<ion-header>
  <app-topbar [query]="query" (type)="search($event)"></app-topbar>
</ion-header>

<ion-content>

  <div class="no-results ion-text-center" *ngIf="displayTotal === 0">
    <h2>No results found</h2>
    <p>For help using the search tool, check the <a target="_blank" [routerLink]="['/syntax']">help guide</a>.</p>
  </div>

  <ng-container *ngIf="displayTotal > 0">
    <ng-container *ngTemplateOutlet="switches"></ng-container>

    <ion-grid class="info">
      <ion-row>
        <ion-col>
          <span *ngIf="queryDisplay !== 'checklist'">{{ displayCurrent | number }} - {{ displayMaximum | number }} of&nbsp;</span> {{ displayTotal | number }} {{ queryDesc }}
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="page-container">
      <ion-grid class="cards" *ngIf="queryDisplay !== 'checklist'">
        <ion-row>
          <ion-col class="card-container" [sizeMd]="3" [sizeSm]="6" [sizeXs]="12" *ngFor="let card of visibleCards">
            <a [routerLink]="['/card', card.code]">
              <app-card-display class="card"
                                [card]="card"
                                [display]="queryDisplay"></app-card-display>
            </a>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="table-container" [class.hidden]="queryDisplay !== 'checklist'">

        <!-- mobile table -->
        <ngx-datatable
            class="striped dark ion-hide-md-up"
            [selected]="selected"
            [selectionType]="checkboxSelectionType"
            [selectAllRowsOnPage]="false"
            (select)="select($event)"
            [columnMode]="'flex'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="75"
            [limit]="10"
            [sorts]="[{ prop: 'name', dir: 'asc' }]"
            [rows]="queriedCards">

          <ngx-datatable-column
            [width]="30"
            [sortable]="false"
            [canAutoResize]="false"
            [draggable]="false"
            [resizeable]="false"
            [headerCheckboxable]="true"
            [checkboxable]="true">
          </ngx-datatable-column>

          <ngx-datatable-column name="Name" [flexGrow]="3">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div class="cell" [ngClass]="['color-' + row.color]">
                <a [routerLink]="['/card', row.code]">{{ row.name }}</a>
                <br>
                {{ row.code }}
              </div>
            </ng-template>
          </ngx-datatable-column>

        </ngx-datatable>

        <!-- desktop table -->
        <ngx-datatable
            #table
            class="striped dark ion-hide-md-down"
            [selected]="selected"
            [selectionType]="checkboxSelectionType"
            [selectAllRowsOnPage]="false"
            (select)="select($event)"
            [columnMode]="'flex'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="75"
            [limit]="10"
            [sorts]="[{ prop: 'name', dir: 'asc' }]"
            [rows]="queriedCards">

          <ngx-datatable-row-detail [rowHeight]="getDetailHeight()">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
              <div class="ability" *ngFor="let ability of row.ability">
                {{ ability }}
              </div>
            </ng-template>
          </ngx-datatable-row-detail>

          <ngx-datatable-column
            [width]="30"
            [sortable]="false"
            [canAutoResize]="false"
            [draggable]="false"
            [resizeable]="false"
            [headerCheckboxable]="true"
            [checkboxable]="true">
          </ngx-datatable-column>

          <ngx-datatable-column
            [width]="50"
            [resizeable]="false"
            [sortable]="false"
            [draggable]="false"
            [canAutoResize]="false">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
              <a
                class="cursor"
                [class.datatable-icon-right]="!expanded"
                [class.datatable-icon-down]="expanded"
                (click)="table.rowDetail.toggleExpandRow(row)">
              </a>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Name" [flexGrow]="3">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div class="cell" [ngClass]="['color-' + row.color]">
                <a [routerLink]="['/card', row.code]">{{ row.name }}</a>
                <br>
                {{ row.code }}
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Rarity" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.rarity }}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Expansion" [flexGrow]="2">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.expansion }}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Type" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.type }}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Stats" [flexGrow]="2" [sortable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div *ngIf="row.type === 'Character'">
                <div class="trigger-icons character">
                  {{ row.level }}/{{ row.cost }} <app-cardicon *ngFor="let icon of row.trigger" [type]="icon" [size]="16"></app-cardicon>
                </div>
                <div>
                  {{ row.power }} Power
                </div>
              </div>

              <div *ngIf="row.type === 'Climax'" class="trigger-icons climax">
                <app-cardicon *ngFor="let icon of row.trigger" [type]="icon" [size]="24"></app-cardicon>
              </div>

              <div *ngIf="row.type === 'Event'">
                {{ row.level }}/{{ row.cost }}
              </div>
            </ng-template>
          </ngx-datatable-column>

        </ngx-datatable>
      </div>
    </div>

    <ng-container *ngTemplateOutlet="switches"></ng-container>
  </ng-container>

  <app-below-the-fold></app-below-the-fold>
</ion-content>

<ng-template #switches>
  <ion-grid class="switches">
    <ion-row>
      <ion-col [sizeXs]="12" [sizeMd]="2">
        <div class="text-display">Cards as</div>
        <ion-select class="themed" [(ngModel)]="queryDisplay" interface="popover" placeholder="Card Display" (ionChange)="redoCurrentSearch()">
          <ion-select-option value="images">Images</ion-select-option>
          <ion-select-option value="text">Text</ion-select-option>
          <ion-select-option value="checklist">Checklist</ion-select-option>
        </ion-select>
      </ion-col>

      <ion-col [sizeXs]="12" [sizeMd]="4" *ngIf="queryDisplay !== 'checklist'">
        <div class="text-display">Sorted by</div>
        <ion-select class="themed" [(ngModel)]="querySort" interface="popover" placeholder="Sort Prop" (ionChange)="redoCurrentSearch()">
          <ion-select-option value="name">Name</ion-select-option>
          <ion-select-option value="code">Code</ion-select-option>
          <ion-select-option value="rarity">Rarity</ion-select-option>
          <ion-select-option value="expansion">Expansion</ion-select-option>
          <ion-select-option value="side">Side</ion-select-option>
          <ion-select-option value="type">Type</ion-select-option>
          <ion-select-option value="color">Color</ion-select-option>
          <ion-select-option value="level">Level</ion-select-option>
          <ion-select-option value="cost">Cost</ion-select-option>
          <ion-select-option value="power">Power</ion-select-option>
          <ion-select-option value="soul">Soul</ion-select-option>
          <ion-select-option value="set">Set</ion-select-option>
          <ion-select-option value="release">Release</ion-select-option>
        </ion-select>

        <ion-select class="themed" [(ngModel)]="querySortBy" interface="popover" placeholder="Sort Dir" (ionChange)="redoCurrentSearch()">
          <ion-select-option value="asc">Asc ↑</ion-select-option>
          <ion-select-option value="desc">Desc ↓</ion-select-option>
        </ion-select>
      </ion-col>

      <ion-col [sizeXs]="12" [sizeMd]="6" class="pagination ion-justify-content-center" *ngIf="queryDisplay !== 'checklist'">
        <ion-button fill="outline" color="secondary" [disabled]="page <= 0" (click)="changePage(0)">
          <span class="symbol">&laquo;</span>
        </ion-button>

        <ion-button fill="outline" color="secondary" [disabled]="page <= 0" (click)="changePage(page - 1)">
          <span class="symbol left">&lsaquo;</span> <span class="ion-hide-sm-down">Previous</span>
        </ion-button>

        <ion-button fill="outline" color="secondary" [disabled]="page >= totalPages" (click)="changePage(page + 1)">
          <span class="ion-hide-sm-down">Next {{ cardsPerPage }}</span> <span class="symbol right">&rsaquo;</span>
        </ion-button>

        <ion-button fill="outline" color="secondary" [disabled]="page >= totalPages" (click)="changePage(totalPages)">
          <span class="symbol">&raquo;</span>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-template>
