<ion-content [fullscreen]="true">
  <div class="container">
    <div class="search-container">
      <div class="search-text">
        <strong>Limelight</strong> is a powerful search tool for <strong>Weiß Schwarz</strong>.
      </div>

      <div class="search-bar-container">
        <ion-img class="search-icon" src="assets/favicon/android-chrome-192x192.png"></ion-img>
        <ion-input placeholder="Search all of Weiß Schwarz..." class="search" [(ngModel)]="searchQuery" (keydown.enter)="search(searchQuery)"></ion-input>
      </div>

      <div class="search-actions">
        <ion-button fill="outline" color="dark" routerLink="/advanced">Advanced Search</ion-button>
        <ion-button fill="outline" color="dark" routerLink="/syntax">Syntax</ion-button>
        <ion-button fill="outline" color="dark" routerLink="/sets">All Sets</ion-button>
        <ion-button fill="outline" color="dark" routerLink="/randomcard">Random Card</ion-button>
      </div>
    </div>
  </div>

  <app-below-the-fold></app-below-the-fold>
</ion-content>
